@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.map-generator{@apply max-w-full max-h-full bg-none;}

*{
    font-family: Poppins;
}

/* scrollbar css custom */

.scrollbar-custom::-webkit-scrollbar {
    width: 5px;
    height: 158px;
  }
  
  .scrollbar-custom::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  .scrollbar-custom::-webkit-scrollbar-thumb {
    background: #003459;
    border-radius: 2px;
    height: 158px;
  }
  
  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background: #CCCCCC; 
  }

  @keyframes loadingAnimation {
    0% { opacity: 0.5; }
    50% { opacity: 1; }
    100% { opacity: 0.5; }
  }
  
  .animate-loading {
    animation: loadingAnimation 1.5s infinite;
  }


  /* date picker css */
  /* Custom styles for the DatePicker input */
.custom-datepicker-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #003459;
    border-radius: 5px;
    color: #003459;
    background-color: #fff;
    transition: border-color 0.3s ease;
  }
  
  .custom-datepicker-input:focus {
    outline: none;
    border-color: #0076a3;
  }
  
  /* Custom styles for the DatePicker popup */
  .react-datepicker__input-container input {
    color: #003459;
    font-weight: bold;
  }
  
  .react-datepicker {
    border: 2px solid #003459;
    border-radius: 10px;
  }
  
  .react-datepicker__header {
    background-color: #003459;
    border-bottom: none;
  }
  
  .react-datepicker__current-month {
    color: white;
    font-size: 16px;
  }
  
  .react-datepicker__day-name,
  .react-datepicker__day,
  .react-datepicker__time-name {
    color: #003459;
  }
  
  .react-datepicker__day--selected,
  .react-datepicker__day--keyboard-selected {
    background-color: #0076a3;
    color: white;
  }

  /* radio custom  */
  .custom-radio {
    width: 12px; /* Size of the custom radio */
    height: 12px; /* Size of the custom radio */
    border: 1px solid #CCCCCC; /* Default border color */
    border-radius: 50%; /* Make it circular */
    display: inline-block; /* Align with text */
    margin-right: 8px; /* Space between radio and label text */
    transition: background-color 0.3s, border-color 0.3s; /* Smooth transition */
  }
  
  .custom-radio.checked {
    background-color: #003459; 
  }
